@model CloudStorage.Models.FtpServer

@{

    ViewBag.Title = "FtpServerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .error {
        color: red;
    }
</style>

<h2>FTP Server Form</h2>

@if (ViewBag.ErrorMessage != null)
{
    <h4 class="error">@ViewBag.ErrorMessage</h4>
}

@using (Html.BeginForm("ProcessForm", "FtpServer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*Html.ValidationSummary(true, "Please fix the following erros")*@

    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>


    @Html.AntiForgeryToken();

    <div class="form-group">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
}

