@model IEnumerable<CloudStorage.Models.CloudStorageFile>

@{
    ViewBag.Title = "File List on Google Drive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>File List on Google Drive</h2>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>



<div>
    @using (Html.BeginForm("UploadFileToServer", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>
            <label for="file">Upload file:</label>
            <input type="file" name="file" id="file" />
            <input type="submit" value="Upload" />

        </p>
    }
        

    

</div>

<center>

    <table class="table" border="1">
        <tr id="header">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <!--
            <th>
                Download
            </th>
            <th>
                Delete
            </th>
        -->
        </tr>

        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
        <tr id="layouttable">
            <td>
                <a href="@item.Link">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @{
                    long? KiloByte = @item.Size / 1024;
                    string NewSize = KiloByte + " KB";
                }
                @NewSize
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @string.Format("{0: MM/dd/yyyy hh:mm:ss}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.CreatedTime).ToString()))
            </td>
            @*
            <td>
                <input type="button" class="DownloadFile" value="Download" data-key=@item.Id style="align-content:center" />
            </td>
            <td>
                @using (Html.BeginForm("DeleteFile", "GoogleDrive", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name=Id value="@item.Id">
                    <input type="submit" class="DeleteFile" value="Delete" style="align-content:center" />
                }

            </td>
            *@
        </tr>
            }
        }
        else
        {
            <tr><td colspan="6">No files found</td></tr>
        }

    </table>

</center>

<script>
    $(document).on('click', '.DownloadFile', function () {
        //debugger;
        var fileId = $(this).attr("data-key");
        window.location.href = '/Home/DownloadFile/' + fileId;
    });
</script>
