@model CloudStorage.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


@using (Html.BeginForm("Login", "User"))
{
    @Html.ValidationSummary(true, "Please fix the following erros")

    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    

    @Html.AntiForgeryToken();


    <div class="form-group">
        <button type="submit" class="btn btn-default">Login</button>
    </div>

    
}

    <p>Have no account? &nbsp;  @Html.ActionLink("Register a new account", "Register", "User")</p>

